@media screen and (max-width: 1440px) { 
	.revslider-initialised .case-arrows1.tparrows {
		width: 60px;
	}
	.or-portfolio-content {
		padding: 0px 25px;
	}
	.or-portfolio-innerbox .or-portfolio-text {
		padding: 20px;
	}
	.or-portfolio-innerbox .or-portfolio-text .read-more {
		right: 15px;
	}
	.or-about-section-1 {
		overflow: hidden;
	}
}
@media screen and (max-width: 1150px) { 
	.revslider-initialised .case-arrows1.tparrows {
		display: none;
	}
	.or-category-slider-inner-item .or-category-text h3 {
		font-size: 22px;
	}
	.carousel_nav .or-category-left_arrow,
	.carousel_nav .or-category-right_arrow,
	.carousel_nav .or-product-left_arrow,
	.carousel_nav .or-product-right_arrow,
	.carousel_nav .or-portfolio-left_arrow,
	.carousel_nav .or-portfolio-right_arrow {
		margin: 0px 8px;
		position: static;
		transform: translateY(0);
	}
	.or-category-content,
	.or-product-content,
	.or-portfolio-wrapper {
		.carousel_nav {
			display: flex;
			justify-content: center;
		}
	}
	.or-about-img-1 {
		left: -170px;
	}
	.or-portfolio-wrapper {
		.carousel_nav {
			margin-top: 30px;
		}
	}
	.or-blog-innerbox .or-blog-text h3 {
		font-size: 20px;
	}
	.or-blog-innerbox .or-blog-text .blog-meta a {
		margin-right: 15px;
	}
	.organio-header-section.header-style-two .or-header-main-menu .or-header-category-title {
		width: 252px;
	}
	.or-category-content-2 .carousel_nav .or-cat-left_arrow,
	.or-category-content-2 .carousel_nav .or-cat-right_arrow {
		position: static;
		transform: translateY(0);
	}
	.or-category-content-2 .carousel_nav {
		margin-top: 30px;
		text-align: center;
	}
	.or-product-item-2 .or-product-text h3 {
		font-size: 16px;
	}
	.or-footer-newslatter-1 .or-footer-newslatter-content .or-footer-newslatter-text-form {
		margin: 0 15% 0 auto;
	}
	.or-trending-product-top {
		flex-wrap: wrap;
		.or-section-title-3 {
			padding-bottom: 20px;
		}
	}
	.or-how-it-work-content .or-hw-shape {
		top: 70%;
	}
	.or-offer-content .or-shop-banner-innerbox .or-shop-banner-img-1 {
		right: 15px;
		bottom: 15px;
		width: 200px;
	}
	.testimonial-slider-4 .slick-dots {
		left: 0;
		right: 0;
		bottom: -30px;
		li {
			width: 8px;
			height: 8px;
			margin: 0px 5px;
			display: inline-block;
			&.slick-active {
				height: 8px;
				width: 35px;
			}
		}
	}
}
@media screen and (max-width: 1024px) { 
	.or-blog-innerbox .or-blog-text h3 {
		font-size: 18px;
	}
	.or-blog-innerbox .or-blog-text {
		padding: 25px 15px 25px;
	}
	.or-about-img-1 {
		left: -260px;
	}
	.or-why-choose-feature-innerbox .or-why-choose-feature-text h3 {
		font-size: 18px;
	}
	.or-footer-newslatter-1 .or-footer-newslatter-content .or-footer-newslatter-img {
		display: none;
	}
	.or-footer-newslatter-1 .or-footer-newslatter-content .or-footer-newslatter-text-form {
		max-width: 525px;
	}
	.organio-header-section.header-style-two .or-header-main-menu .or-header-category-title {
		width: 233px;
	}
	.or-footer-newslatter-1 .or-footer-newslatter-content .or-footer-newslatter-text-form {
		margin: 0px 24% 0 auto;
	}
	.or-commit-inner-box {
		padding-left: 0;
	}
	.or-commit-content {
		padding: 20px 15px;
	}
	.organio-header-section .organio-header-top-content {
		display: none;
	}
	.or-best-deal-slider-2 .slick-dots, 
	.or-testimonial-slider .slick-dots,
	.or-blog-slide .slick-dots,
	.or-category-main-slider .slick-dots {
		width: 100%;
	}
	.or-blog-innerbox-3 .or-blog-title h3 {
		font-size: 20px;
	}
	.or-feature-innerbox {
		padding: 30px 15px 40px;
	}
	.organio-header-section.header-style-four .or-header-main-menu-content .main-navigation-area li a {
		padding: 0px 15px;
	}
	.organio-header-section.header-style-four .or-header-main-menu-content .main-navigation-area li.dropdown:after {
		right: 3px;
	}
	.organio-header-section.header-style-four .header-top .or-header-slug li {
		margin-right: 40px;
	}
	.shop-details-rate-review {
		flex-wrap: wrap;
	}
	.or-service-page-innerbox .item--icon {
		height: 50px;
		width: 50px;
		i {
			font-size: 30px;
		}
	}
	.or-service-page-innerbox .item--holder-hover {
		padding-top: 80px;
	}
	.or-service-page-innerbox .item--holder-hover .item--content {
		padding-bottom: 20px;
	}
	.or-service-page-innerbox .item--holder-hover .item--title {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.or-service-page-innerbox:hover .item--icon {
		bottom: auto;
		top: 15px;
	}
}
@media screen and (max-width: 991px) { 
	.organio-header-section.header-style-one .menu-navigation.left-nav,
	.organio-header-section.header-style-one .menu-navigation.right-nav {
		display: none;
	}
	.organio-header-section.header-style-one .site-logo {
		margin: 0;
		position: static;
	}
	.organio-header-section.header-style-one .organic-main-navigation {
		padding: 12px 0px 12px;
	}
	.organio-header-section.header-style-one .header-search-btn {
		right: 55px;
	}
	.mobile_menu_button {
		display: block;
	}
	.organio-header-section.header-style-one .header-top {
		display: none;
	}
	.or-blog-innerbox {
		margin: 0 auto;
		max-width: 370px;
		margin-bottom: 30px;
	}
	.organio-header-section.header-style-one .header-search-btn.search-btn {
		display: none;
	}
	.organio-header-section.header-style-one .header-search-btn.cart-btn {
		display: block;
	}
	.or-footer-widget .or-contact-widget,
	.or-footer-widget .or-menu-widget {
		padding-left: 0;
	}
	.or-footer-widget {
		margin-bottom: 35px;
	}
	.or-shop-banner-innerbox {
		margin-bottom: 30px;
	}
	.or-about-img-1 {
		position: static  !important;
	}
	.or-about-text-area  {
		justify-content: flex-start !important;
	}
	.or-about-img-text-wrapper-1 {
		margin: 0 auto;
	}
	.or-about-section-1 {
		padding-bottom: 60px;
	}
	.or-why-choose-text-wrapper {
		padding-left: 0;
	}
	.or-funfact-innerbox {
		margin-bottom: 30px;
	}
	.or-funfact-innerbox:before {
		display: none;
	}
	.or-category-menu {
		display: none;
	}
	.organio-header-section.header-style-two .or-header-main-menu {
		display: none;
	}
	.organio-header-section.header-style-two .or-header-search-innerbox {
		display: none !important;
	}
	.login-register-button {
		display: none;
	}
	.organio-header-section.header-style-two .or-header-search-wrapper {
		padding: 10px 0px;
	}
	.or-header-login-register {
		margin-right: 60px;
	}
	.organio-header-section.header-style-two .mobile_menu_button  {
		right: 0;
		top: -50px;
	}
	.or-commit-inner-box {
		margin-bottom: 20px;
		&:before {
			display: none;
		}
	}
	.or-product-add-banner {
		margin-top: 30px;
	}
	.or-best-deal-shop {
		margin-bottom: 40px;
	}
	.main-navigation-area {
		display: none;
	}
	.organio-header-section.header-style-three .or-header-right-btn {
		margin-right: 55px;
	}
	.organio-header-section.header-style-three {
		.mobile_menu_button {
			top: -60px;
		}
		&.sticky-on {
			.mobile_menu_button {
				right: 0;
			}
		}
	}
	.or-feature-innerbox {
		margin-bottom: 30px;
	}
	.or-how-it-work-content .or-hw-shape {
		display: none;
	}
	.or-how-it-work-innerbox {
		margin-bottom: 30px;
	}
	.or-why-choose-text-wrapper-2 {
		margin: 0 auto;
		max-width: 570px;
	}
	.or-why-choose-img-2 {
		text-align: center;
	}
	.testimonial-feature-content-4 {
		justify-content: center;
	}
	.or-testimonial-text-wrapper-3 {
		margin-bottom: 30px;
	}
	.organio-header-section.header-style-four .or-header-main-menu-content {
		padding: 10px 0px;
	}
	.organio-header-section.header-style-four .or-header-main-menu-content .or-header-right-btn {
		margin-left: 0;
		padding-left: 0;
		margin-right: 50px;
	}
	.organio-header-section.header-style-four .mobile_menu_button {
		right: 0;
		top: -60px;
	}
	.blog-innbox-item-4  {
		max-width: 570px;
		margin: 0 auto;
	}
	.or-service-page-section {
		padding-bottom: 0;
	}
	.service-add {
		text-align: center;
		margin-bottom: 30px;
	}
	.or-service-details-section .scroll-sticky {
		position: static;
	}
	.or-service-details-text {
		margin: 0 auto;
		max-width: 770px;
	}
	.or-service-details-feature,
	.or-service-commit {
		flex-wrap: wrap;
	}
	.or-service-details-ft-icon-text {
		width: 100%;
		margin-bottom: 30px;
	}
	.or-service-details-section {
		padding: 50px 0px 80px;
	}
	.or-team-feed-section {
		padding: 60px 0px 40px;
	}
	.or-team-details-section {
		padding: 50px 0px 60px;
	}
	.ord-team-details-text-item .activity-list-progress {
		flex-wrap: wrap;
	}
	.ord-team-details-text-item .ord-team-details-activity,
	.ord-team-details-progress {
		width: 100%;
	}
	.or-contact-innerbox {
		margin-bottom: 30px;
	}
	.or-contact-info-section {
		padding: 50px 0px 20px;
	}
	.or-main-cart-section .top-sticky {
		position: static;
	}
	.or-cart-total-warpper {
		margin-left: 0;
		margin-top: 30px;
	}
	.or-main-cart-section,
	.or-checkout-section {
		padding: 50px 0px 80px;
	}
	.or-project-feed-section {
		padding: 70px 0px;
	}
	.or-project-overview-comment-wrapper {
		margin-left: 0;
		margin-top: 30px;
		flex-wrap: wrap;
	}
	.or-project-overview-comment-wrapper .or-project-overview-comment-img {
		margin-bottom: 20px;
	}
	.or-project-overview-text-wrapper .project-qoute-icon {
		display: none;
	}
	.or-project-details-section {
		padding: 50px 0px 70px;
	}
	.or-blog-feed-section {
		padding: 50px 0px;
	}
	.top-sticky-sidebar {
		position: static;
	}
	.or-side-bar {
		padding-left: 0;
	}
	.or-widget-wrap .or-recent-blog-img-text {
		padding-left: 0;
	}
}
@media screen and (max-width: 767px) {  
	.or-best-deal-section .or-best-deal-img {
		display: none;
	}
	.or-best-deal-top-content {
		flex-wrap: wrap;
	}
	.or-testimonial-slider-content-2 .quote-icon {
		display: none;
	}
	.or-how-it-work-content {
		top: 0;
		margin-bottom: 0;
	}
	.organio-header-section.header-style-four .header-top {
		display: none;
	}
}
@media screen and (max-width: 680px) { 
	.or-portfolio-innerbox {
		margin: 0 auto;
		max-width: 435px;
	}
	.or-footer-newslatter-1 .or-footer-newslatter-content {
		border-radius: 0;
		padding-left: 30px;
		padding-right: 30px;
	}
	.or-footer-newslatter-1 .or-footer-newslatter-content .or-footer-newslatter-text-form {
		margin: 0;
	}
	.or-category-slider-item .or-category-slider-text h2 {
		font-size: 36px;
	}
	.or-category-main-slider {
		padding-left: 0;
	}
	.or-best-deal-top-content .or-section-title-2 {
		padding-bottom: 15px;
	}
	.or-popular-category-top-content {
		flex-wrap: wrap;
	}
	.carousel_nav .or-pop-cat-left_arrow,  
	.carousel_nav .or-pop-cat-right_arrow {
		margin-left: 0;
		margin-top: 20px;
		margin-right: 15px;
	}
	.shop-details-text .shop-details-title h3 {
		font-size: 26px;
	}
	.or-shop-review-tab-btn li {
		margin-bottom: 10px;
	}
	.or-service-page-innerbox .item--icon {
		top: 65%;
	}
	.or-cart-copun-code button {
		margin-left: 0;
		margin-top: 20px;
	}
	.or-blog-details-section {
		padding: 60px 0px;
	}
	.ord-blog-meta-2 a {
		margin-right: 10px;
	}
	.or-blog-details-item {
		padding: 20px 0px;
	}
	.or-blog-tag-share .or-blog-tag a {
		margin-bottom: 10px;
	}
	.or-blog-tag-share .or-blog-share,
	.or-blog-tag-share .or-blog-tag {
		float: none !important;
	}
	.or-blog-tag-share .or-blog-share {
		margin-top: 10px;
	}
	.or-blog-tag-share {
		margin-bottom: 20px;
	}
	.or-blog-next-prev {
		flex-wrap: wrap;
	}
	.or-blog-comment-block .or-blog-comment-text .prd-reply-btn {
		position: static;
		display: inline-block;
		margin-top: 10px;
	}
	.prd-blog-comment-form .prd-comment-form-input input,
	.prd-blog-comment-form .prd-comment-form-input textarea {
		width: 100%;
		margin-bottom: 15px;
	}
	.prd-comment-input-wrap {
		flex-wrap: wrap;
	}
	.prd-blog-comment-form {
		padding: 35px 15px;
	}

}
@media screen and (max-width: 480px) { 
	.or-why-choose-section {
		overflow: hidden;
	}
	.or-shop-banner-innerbox .or-shop-banner-img-1 {
		width: 110px;
	}
	.or-shop-banner-section {
		padding-bottom: 40px;
	}
	.or-about-text-area {
		display: block  !important;
	}
	.or-section-title h2 {
		font-size: 26px;
	}
	.or-about-feature-wrapper {
		flex-wrap: wrap;
	}
	.or-about-feature-innebox {
		width: 100%;
		margin-bottom: 30px;
	}
	.or-about-section-1 {
		padding-bottom: 30px;
	}
	.or-category-section {
		padding-bottom: 50px;
	}
	.or-why-choose-section {
		padding: 60px 0px 35px;
	}
	.or-funfact-section {
		padding-top: 60px;
	}
	.or-product-section {
		padding: 60px 0px;
	}
	.or-best-deal-section {
		padding: 60px 0px;
		background-color: #f7f7f7;
		background-image: none  !important;
	}
	.best-deal-countdown li .or-count-down-number {
		height: 50px;
		width: 50px;
	}
	.best-deal-countdown li .count-unit {
		font-size: 14px;
	}
	.best-deal-countdown li:after {
		top: 8px;
		right: -15px;
	}
	.or-team-section {
		padding: 60px 0px;
	}
	.or-portfolio-section {
		padding-bottom: 60px;
	}
	.or-blog-btn {
		margin-top: 30px;
	}
	.or-footer-section-1 {
		padding-top: 80px;
		background-color: #0b2900;
		background-image: none  !important;
	}
	.or-blog-section {
		padding-bottom: 70px;
	}
	.or-footer-newslatter-1 .or-footer-newslatter-content .or-footer-newslatter-form input {
		width: 275px;
	}
	.or-footer-section-2 .or-footer-copyright-wrapper {
		flex-wrap: wrap;
		justify-content: center;
	}
	.or-category-slider-item {
		padding: 80px 0px 70px 30px;
	}
	.or-category-slider-item .or-category-slider-text h2 {
		font-size: 30px;
	}
	.or-section-title-2 h2 {
		font-size: 26px;
	}
	.or-cta-content .or-cta-text h3 {
		font-size: 26px;
	}
	.organio-header-section.header-style-three .or-header-top {
		display: none;
	}
	.organio-header-section.header-style-three .or-header-right-btn {
		margin-left: 0;
	}
	.organio-header-section.header-style-three .or-header-right-btn button {
		margin-left: 15px;
	}
	.organio-header-section.header-style-three .or-header-main-menu {
		background-color: #fff;
	}
	.organio-header-section.header-style-three .or-header-main-menu-content {
		padding: 10px 0px;
	}
	.organio-header-section.header-style-three .mobile_menu_button {
		right: 0;
	}
	.or-banner-slider-item h1 {
		font-size: 36px;
	}
	.or-banner-content {
		padding: 250px 0px 100px;
	}
	.or-banner-content .banner-deco-img {
		display: none;
	}
	.or-section-title-3 h2,
	.or-deal-content-3 h2,
	.or-testimonial-text-2 h2  {
		font-size: 30px;
	}
	.or-testimonial-text-2 h2 {
		padding-bottom: 20px;
	}
	.or-testimonial-item-2 p {
		padding-bottom: 15px;
	}
	.or-feature-section {
		padding: 60px 0px;
	}
	.or-trending-product-section {
		padding-bottom: 30px;
	}
	.or-deal-content-3 {
		padding: 80px 0px;
	}
	.best-deal-content-4 .best-deal-countdown li, .or-deal-content-3 .best-deal-countdown li {
		width: 60px;
		height: 60px;
		padding-top: 5px;
		margin-right: 20px;
		&:before {
			height: 80px;
			width: 80px;
		}
	}
	.or-team-section-2 {
		padding: 60px 0px;
	}
	.or-testimonial-slider-2 {
		padding-bottom: 20px;
	}
	.or-blog-section-3 {
		padding: 60px 0px;
	}
	.or-footer-section-3 .or-footer-copyright-wrapper {
		flex-wrap: wrap;
	}
	.scrollup {
		right: 0;
		bottom: 0;
		width: 35px;
		height: 35px;
		line-height: 35px;
	}
	.or-how-it-work-content .or-section-title-4 h2,
	.or-section-title-4 h2 {
		font-size: 30px;
	}
	.or-how-it-work-content {
		padding-bottom: 20px;
	}
	.or-how-it-work-content .or-section-title-4 h2, .or-section-title-4 h2 {
		font-size: 26px;
	}
	.or-why-choose-section-2 {
		padding: 55px 0px;
	}
	.or-why-choose-section-2 .or-why-choose-img-2 {
		padding-top: 40px;
	}
	.or-offer-section .or-shop-banner-innerbox .or-shop-banner-img-2 {
		top: 40px;
		right: 10px;
		width: 65px;
	}
	.or-offer-content .or-shop-banner-innerbox .or-shop-banner-img-1 {
		width: 160px;
	}
	.or-offer-content .or-shop-banner-innerbox .or-shop-banner-text h3 {
		font-size: 24px;
	}
	.or-offer-section {
		padding-bottom: 50px;
	}
	.or-video-section {
		padding: 180px 0px 150px;
	}
	.or-video-section .or-video-shape {
		top: -7px;
	}
	.or-best-deal-section-4 {
		padding-top: 50px;
	}
	.or-best-deal-section-4 {
		.best-deal-content-4 .best-deal-countdown li {
			padding-top: 10px;
		}
	}
	.best-deal-product-4 .or-best-product-innerbox {
		flex-wrap: wrap;
		max-width: 270px;
		margin: 0 auto;
	}
	.best-deal-product-4 .best-deal-product-slider-wrapper {
		padding-bottom: 0;
	}
	.or-testimonial-text-wrapper-3 {
		padding: 45px 15px
	}
	.testimonial-feature-content-4 .testimonial-feature-item {
		width: 100%;
		margin-bottom: 15px;
	}
	.testimonial-feature-content-4 {
		flex-wrap: wrap;
	}
	.testimonial-slider-wrapper-4 {
		height: 270px;
	}
	.or-footer-section-4 {
		padding-top: 70px;
	}
	.or-footer-section-4 .or-footer-widget-wrapper-1 {
		padding-bottom: 50px;
	}
	.or-breadcrumbs-section .or-breadcrumbs-content {
		padding: 90px 0px 80px;
	}
	.or-breadcrumbs-section .or-breadcrumbs-content .page-title h1 {
		font-size: 36px;
	}
}
@media screen and (max-width: 380px) {
	.or-category-slider-item .or-category-slider-text h2 {
		font-size: 25px;
	} 
	.or-best-deal-section-4 .best-deal-content-4 .best-deal-countdown li {
		margin-right: 5px;
	}
	.blog-innbox-item-4 .blog-text h3 {
		font-size: 20px;
	}
	
}
