.or-login-wrapper {
	background-color: $base-color;
}
.sign-login-area {
	margin: 0 auto;
	height: 100vh;
	max-width: 600px;
	.or-login-form {
		input {
			width: 100%;
			height: 50px;
			padding-left: 20px;
			margin-bottom: 15px;
			border-radius: 6px;
			border: 1px solid #fff
		}
	}
	button {
		color: #fff;
		height: 50px;
		width: 130px;
		border: none;
		font-weight: 700;
		border-radius: 6px;
		background-color: $color-2;
	}
	.or-checkout-form form label {
		color: #fff;
	}
	.or-checkout-form form input,
	.or-checkout-form form select, 
	.or-checkout-form form textarea {
		border-radius: 6px;
	}
}